<div class="p-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"><h2>Shopping Cart</h2></th>
                <th scope="col"></th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <% @products.each do |p| %>
                <tr>
                    <td scope="row"><%= link_to image_tag(p.image, :class => "img-fixed-height bg-light"), p  %></td>
                    <td>
                        <span class="fw-bold"><%= p.name %></span>
                        <div class="pt-2 pb-3">
                            <%= form_with url: cart_path(id: p.id), method: :patch do %>
                                <div class="row d-flex align-items-center pb-3">
                                    <div class="col-1">
                                        Qty:
                                    </div>
                                <div class="col-1" size="100">
                                    <% selected_quanity = session[:shopping_cart][p.id.to_s] %>
                                    <select name="quantity" class="form-select" aria-label="quantity" style="width: 58px;">
                                    <% if selected_quanity == 1 %>
                                        <option selected value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    <% elsif selected_quanity == 2 %>
                                        <option value="1">1</option>
                                        <option selected value="2">2</option>
                                        <option value="3">3</option>
                                    <% else %>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option selected value="3">3</option>
                                    <% end %>
                                    </select>
                                </div>
                                </div>
                                <%= button_tag 'Edit', class: "btn btn-outline-primary" %>
                            <% end %>
                        </div>
                        <div>
                            <%= button_to cart_path(id: p.id), class:"btn btn-outline-primary", method: :delete do %>
                                Remove from cart
                            <% end %>
                        </div>
                    </td>
                    <td>
                        <% if !(p.sale_price < p.price) %>
                            <small>$<%= number_with_precision(p.price / 10, precision: 2) %></small>
                        <% else %>
                            <small class="bg-danger text-white">&nbsp;<%= ((p.price - p.sale_price) / p.price * 100).round %>% off&nbsp;</small>
                            <br>
                            $<%= number_with_precision(p.sale_price / 10, precision: 2) %> 
                        <% end %>
                    </td>
                </tr>
            <% end %>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        Subtotal (<%= session[:shopping_cart].size %> items): <span class="fw-bold">$<%= number_with_precision(@subtotal, precision: 2) %></span>
                        <br>
                        GST: <span class="fw-bold">$<%= number_with_precision(@gst, precision: 2) %></span>
                        <br>
                        PST/HST: <span class="fw-bold">$<%= number_with_precision(@pstOrHst, precision: 2) %></span>
                        <br>
                        Total: <span class="fw-bold">$<%= number_with_precision(@total, precision: 2) %></span>
                    </td>
                </tr>
        </tbody>
    </table>
</div>

<%= paginate @products %>